@import "../../../../constants/constants.scss";

*{
	padding: 0px;
}

.MuiModal-root {
  display: grid;
  grid-template-columns: 1fr;
  .MuiBox-root {
		display: grid;
    grid-template-columns: 1fr;
    place-self: center;
		height: 45vh;
    width: 35vw;
    border-radius: $borderRadius;
		background-color: $primary;
		.delete-button {
			margin-left: 5px;
			margin-right: 5px;
			align-self: end;
		}
		.return-button {
			margin-left: 5px;
			margin-right: 5px;
			align-self: start;
			margin-bottom: -6vh;
		}
		h3 {
			text-align: center;
			margin-left: 5px;
			margin-right: 5px;
			color: white;
			align-self: center;
			font-size: 2.5vw;
		}
  }
}