$primary: rgba(58, 58, 58);

$primaryMono1: grey;
$primaryMono2: #9ec7c0;

$primaryComplement: #1d1718;

$primaryTriadic1: #1c171d;
$primaryTriadic2: #1d1c17;

$primaryTint10: #2e3433;
$primaryTint30: #5d6160;

$primaryShade90: #020303;

$borderRadius: 10px;
$borderRadiusInputs: 8px;