* {
  padding: 0px;
}

body {
  background-image: url("../login/Black-Texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .App {
    background-image: url("../login/Black-Texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

