@import '../../constants/constants.scss';

.flashcards-page {
	background-image: url("../login/Black-Texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	height: 100%;
	width: 100%;
}