@import '../../constants/constants.scss';

.quote-of-the-day {
  display: grid;
  text-align: center;
  border-radius: $borderRadius;
  background-color: $primaryMono1;
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.35);
  // padding: 5%;
  h2 {
    font-size: 2rem;
    align-self: end;
  }
  p {
    font-size: 1.5rem;
  }
}
