.flashcard-container {
	height: 40vh;
	width: 50vw;
	border: solid black 2px;
	.flashcard-front, .flashcard-back {
		display: grid;
		grid-template-columns: 1fr;
		.rating {
			justify-self: end;
		}

	}
}