@import "../../../constants/constants.scss";

.flashcard-container {
  height: 40vh;
  width: 50vw;
  border: solid black 2px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: $primaryTint10;
  box-shadow: 0px 15px 15px rgba(0, 0, 0);
  color: white;

  .flashcard-front,
  .flashcard-back {
    // border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    width: 48vw;
    .rating {
      justify-self: end;
      margin-top: 2%;
    }
    .flashcard-footer {
    
      grid-row: 4;
      grid-column: 1;
      justify-self: end;
    }
    p {
      height: 30vh;
      font-size: 2rem;
    }
    button {
      justify-self: start;
      grid-row: 4;
      grid-column: 1;
      margin-bottom: 2%;
    }
  }
}
