@import "../../constants/constants.scss";

.dashboard {
  background-image: url('../login/Black-Texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 0.2fr 1fr 1fr .05fr;
  height: 90vh;
  color: white;
  gap: 20px 15px;
  justify-content: center;
  h1 {
    font-size: 4vh;
    align-self: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    span {
      font-size: 2.5vh;
      font-weight: lighter;
    }
  }
  .flashcard-statistics {
    border-radius: $borderRadius;
    background-color: $primaryMono1;
    box-shadow: 2px 2px 10px $primaryTint10;
  }
  .flashcard-of-the-day {
    border-radius: $borderRadius;
    background-color: $primaryMono1;
    box-shadow: 2px 2px 10px $primaryTint10;
  }
  .dashboard-deck-container {
    border-radius: $borderRadius;
    background-color: $primaryMono1;
    box-shadow: 2px 2px 10px $primaryTint10;
    height: 100%;

    .dashboard-deck-list {
      list-style-type: none;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     

      h2 {
        margin-bottom: 2%;
        font-size: 4.5vh;
      }

      a {
        display: flex;
        border-radius: $borderRadiusInputs;
        // box-shadow: 2px 2px 10px $primaryTint10;
        box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.25);
        height: 15%;
        width: 80%;
        margin: 2%;
        background-color: white;
        font-size: 4vh;
        text-decoration: none;
        color: black;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      a:hover {
        background-color: #bab8b8;
        color: black;
      }
    }
  }

  .flashcard-statistics {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .codewars-container {
		border-radius: $borderRadius;
		background-color: $primaryMono1;
    padding-bottom: 3%;
    
    .form-header {
      text-align: center;
      font-size: 4.5vh;
      margin: 5%;
    }

    .codewars-stats-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      ul {
        list-style-type: none;
      }
    }

    form {
			align-items: center;
			height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .cw-submit-button {
        color: black;

        &:hover {
          background-color: #bab8b8;
        }
      }
      
      label {
        color: white;
        place-self: center;
        font-size: 30px;
      }

      input {
        text-align: center;
        border-radius: $borderRadiusInputs;
        border: none;
        box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.25);
        font-size: 3vh;
        height: 5vh;
        width: 80%;
        place-self: center;
      }
    }
  }
}

.bottom-nav {
  background-color: $primaryShade90;
  height: 5vh;
  a {
    text-decoration: none;
  }
}
