@import "../../constants/constants.scss";

.nav {
    background-color: $primary;
    border: solid 3px blue;
    height: 10vh;
      display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: stretch;
        padding: 1em;

        h2 {
          font-size: 6vh;
        }
}

.nav-link,
.nav-button {
    border-color: #111110;
    background-color: #FFA500;
    color: #111110;
    width: 50%;
    height: 30%;
    border-color: #111110;
    border-radius: 15px;
    font-size: 1.5vh;

    &:hover{
      cursor: pointer;
      background-color: $primary;
      color: #FFA500;
    }
  }



.appName {
    font-size: larger;
    color: $primaryMono2;
    text-decoration: none;
}

.navlink-container {
    display: inline;
}




